@font-face {
  font-family: $ff-inter;
  font-weight: $fw-normal;
  font-style: normal;
  src: url("./Inter/Inter-Regular.woff") format("woff"),
    url("./Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: $ff-inter;
  font-weight: $fw-medium;
  font-style: normal;
  src: url("./Inter/Inter-Medium.woff") format("woff"),
    url("./Inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: $ff-inter;
  font-weight: $fw-black;
  font-style: normal;
  src: url("./Inter/Inter-Black.woff") format("woff"),
    url("./Inter/Inter-Black.woff2") format("woff2");
}
