.app {
  font-family: $ff-inter, Arial, Helvetica, sans-serif;
  font-size: $fs-m;
  line-height: 1.5rem;
  font-weight: $fw-normal;

  min-height: 100vh;

  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $black-light;
  }

  &__main {
    flex-grow: 1;
    @include container;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
