@mixin container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      max-width: $value;
    }
  }
}

@mixin transition($duration: 0.35s, $timing-function: linear) {
  transition: all $duration $timing-function;
}
