// Цвета
$black: hsl(228, 19%, 5%);
$black-light: hsl(215, 23%, 16%);
$black-transparent: hsla(0, 0%, 0%, 0.5);
$gray: hsl(220, 3%, 78%);
$white: hsl(0, 0%, 100%);
$skyblue: hsl(176, 96%, 69%);
$skyblue-dark: hsl(178, 40%, 45%);
$red: hsl(0, 100%, 50%);
$green: hsl(120, 100%, 25%);

// Шрифты
$ff-inter: "Inter";

//  Насыщенность
$fw-normal: 400;
$fw-medium: 500;
$fw-black: 900;

// Размер текста
$fs-base: 1rem;

$fs-s: 0.875rem;
$fs-m: $fs-base;
$fs-l: 1.125rem;
$fs-xl: 1.5rem;

// Точки остановы
$breakpoints: (
  "sm": 40rem,
  "md": 48rem,
  "lg": 64rem,
  "xl": 80rem,
);
